*.o
ft_libgfx
map
minilibx_mms_20200219
minilibx_mms_20200219_beta.tgz
minilibx_opengl.tgz
run
a.out
m.c
.idea
libftpics
.DS_Store
floor.c
sprite.c
circle.c
scr_shot.bmp
map0.cub
run.dSYM/
pics
cub3D
*.a
staff
tester
textures
mlx_old
map2
n.c
